{{#partial "content"}}
    <div class="container">
        <h3 class="text-center my-4">Below is a list of all the Endangered animals</h3>
        <div class="row flex-wrap">
            {{#each rareAnimals}}
                <div class="col-sm-3 my-2">
                    <div class="card1">
                        <h3 class="text-center text-white"> {{ animalName }} </h3>
                        <img class="image4" src="/images/enda.jpeg" alt="">
                        <p>Species:<span>{{ animalType }}</span></p>
                        <p>Animal Age:<span>{{ rareAnimalAge }}</span></p>
                        <p>Animal Health:<span>{{ animalHealth }}</span></p>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
{{/partial}}
{{>layout.hbs}}